{% extends "base.html" %}

{% block content %}
<div class='col-md-6 mx-auto text-center py-5'>
    <div class='py-5 my-5'>
<h1>Hello</h1>

{% if display_text %}
    <pre>{{ display_text }}</pre>
{% endif %}

<form method='POST'>
    <input class='form-control' type='text' name='input_text' placeholder='' required='required' />
    <input class='btn btn-primary mt-3' type='submit' value='submit' />
    <p></p>
    <label for="server">Choose a server:</label>
    <select name="server" id="server">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</form>
</div>
</div>
{% endblock %}